@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.badge {
    color: #ffffff !important; 
    font-weight: 600;
    padding: .35em .6em;
    border-radius: 50rem;
}

.badge.text-dark {
    color: #000 !important; 
}

.btn-primary {
    border-radius: 30px;
}







